

#Input {
  width: 80%;
  font-size: 28px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #eee;
  margin-bottom: 12px;
}

#learnTable {
  width: 95%;
  border: 1px solid #eee;
  font-size: 28px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-size: 22px;
}


#learnTable th, #learnTable td {
  text-align: left;
  padding: 20px;
}

#learnTable tr {
  border-bottom: 1px solid #eee;
}

#learnTable tr.header {
  background-color: #f1f1f1;
}

#learnTable tr:hover {
  background-color: #f6bc42
}
