


#inputfield {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color:black;
  box-sizing: border-box;
  }

#emailfield {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:black;
    box-sizing: border-box;
    }

#messagebox {
        width: 100%;
        height: auto;
        color: black;
        }
